extends ../layouts/default

block userinfo
  if user
    .row
      .container: .well.col-md-12
        if user
          p Cliente: #{user.name}
          p Email: #{user.email}
          if  user.store
            p Local comercial: #{user.store.name}
  else
    .splash-container
    .container
      .row
        .col-md-3.col-sm-5.col-xs-4.content-center
          img.splash-image(src='/images/logo_black.png')
        .col-md-4.col-sm-3.col-xs-6.splash-title
          | WIRELESS ENERGY
      .row.text-center
        .col-md-4.col-md-offset-1.content-center
          h1 PORTAL ENERWI
      .row.splash-button
        .col-md-4.col-md-offset-1.content-center
          a.btn.btn-primary(href="#" data-toggle="modal" data-target="#ModalLogin") INGRESAR
      .row.splash-footer
        h5 ¡Enerwi lo cambiará todo!

block js
  script(src='/js/modals.js')
